<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div class="blog-footer">
      <p>
        <a
          class="blog-footer-link"
          href="https://github.com/AugustoDiaz-Dev"
          target="_blank"
          rel="noopener noreferrer"
        >
          Augusto Diaz <span id="footer-year"></span>
        </a>
      </p>
      <p class="footer-tagline">{{ site.description | escape }}</p>
    </div>
  </div>
</footer>
